# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    # {
    #   'label': 'Toggle atom-master-sharing'
    #   'command': 'atom-master-sharing:toggle'
    # }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'package'
      'submenu': [
        {
          'label': 'StartClient'
          'command': 'atom-master-sharing:connect'
        },
        {
          'label': 'StartServer'
          'command': 'atom-master-sharing:startSession'
        },
        {
          'label': 'StartTest'
          'command': 'atom-master-sharing:startTest'
        }
      ]
    ]
  }
]
