# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': []
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Master Sharing'
      'submenu': [
        {
          'label': 'StartClient'
          'command': 'atom-master-sharing:connect'
        },
        {
          'label': 'StartServer'
          'command': 'atom-master-sharing:startSession'
        }
      ]
    ]
  }
]
